form{
    text-align: center;
}

.header{
    text-align: center;
    color: #34B0FE;
    margin: 1.5rem 0;
}

.upper-case{text-transform: uppercase;}

.add-task input[type=text]{
    width: 80%;
    border: 1px solid rgb(100, 194, 253);
    border-radius: 3px;
}

input[placeholder] {
    padding: 1.2rem;
    font-size: 12px;
}

hr{
    width: 87%;
    border: 4px solid #E3F2FF;
    border-radius: 10px;
    margin: 2rem 0 0 6.3rem;
}

.add{
    position: relative;
    top: 22px;
    font-size: 55px;
    color: rgb(207, 204, 204);
    cursor: pointer;
}

.deal.edit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.task-list {
    display: flex;
    width: 80%;
    margin-left: 4rem;
}

#toDoList {
    width: 90%;
}

.list-item {
    list-style: none;
}

.hidden {
    display: none;
}

.task {
    display: flex;
    align-items: center;
    color: #34B0FE;
}

.delete{
    color: #34B0FE;
    position: relative;
    left: 225px;
    cursor: pointer;
}

.save{
    color: #34B0FE;
    cursor: pointer;
}
